@charset "UTF-8";
/* /* Fontawesome 4.7 */ 
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/*컨테이너*/
.container {
	width: 1000px;
	margin: 0 auto;
	font-family: 'Noto Sans KR', sans-serif;
}

/* 메인 */
main {
	width: 100%;
	position: relative;
}

main section {
    height: 500px;
}

main .mainTop {
    height: 662px;
    background: none;
}

main .mainTop .photo {
    float: left;
}

/*큰 사진*/

main .mainTop .photo .photoBig {
    margin: 30px 0 10px;
    width: 500px;
    height: 500px;
}

/*작은 사진*/

main .mainTop .smallPhoto {
    width: 500px;
    height: 92px;
    margin-left: 5px;
}

main .mainTop .photo .smallPhoto img{
    width: 92px;
    height: 92px;
    margin-right: 10px;
}

/*구매창*/

main .mainTop .buyBox {
    width: 470px;
    height: 600px;
    margin-top: 30px;
    float: right;
}

main .mainTop .buyBox .code {
    height: 75px;
    border-bottom: 1px black solid;
    color: #6e6e6e;
    padding-top: 75px;
}

main .mainTop .buyBox .title {
    margin-top: 10px;
    color: black;
    display: block;
    font-size: 32px;
}

main .mainTop .buyBox .price {
    height: 75px;
    color: #6e6e6e;
    padding-top: 25px;
    border-bottom: 1px #b1b1b1 solid;
}

main .mainTop .buyBox .price h4 {
    margin-top: 10px;
    color: black;
    display: block;
    font-size: 24px;
}

/*추가 옵션*/

main .mainTop .buyBox .add{
    height: 130px;
    padding-top: 25px;
}

main .mainTop .buyBox .add span {
    margin-top: 10px;
    display: block;
    border: 1px black solid;
    border-radius: 5px;
    padding: 8px 10px;
    cursor: pointer;
}

main .mainTop .buyBox .add .addBox {
/*     background: white; */
/*     border: 1px solid black; */
/*     display: none; */
}
main .mainTop .buyBox .add .addBox option {
    padding: 8px 10px;
    cursor: pointer;
}

/* main .mainTop .buyBox .add:hover .addBox { */
/*     display: block; */
/* } */
/* main .mainTop .buyBox .add .addBox li:hover { */
/*     background:#2b2b2b; */
/*     color: white; */
/* } */

main .mainTop .buyBox .buy {
    border-top: #b1b1b1 1px solid;
}

main .mainTop .buyBox .buy button {
    cursor: pointer;
}

main .mainTop .buyBox .buy div {
    margin-top: 15px;
    height: 30px;
}

main .mainTop .buyBox .buy div:nth-child(3){
    border-top: 1px black solid;
    height: 80px;
    padding-left: 6px;
}

main .mainTop .buyBox .buy div:nth-child(3) button {
    width: 150px;
    height: 50px;
    border: 1px #b1b1b1 solid;
    background: white;
    margin-top: 15px;
}

main .mainTop .buyBox #buyNow {
    background: #363636;
}

main .mainTop .buyBox #buyNow a {
    color: white;
}

main .mainTop .buyBox .buy div:nth-child(3) button i{
    color: #d65a50;
}

/*상품 안내*/
main section h3 {
    border-bottom: 1px black solid;
    font-size: 20px;
    padding: 10px 0 15px;
    text-align: center;
}