@charset "UTF-8";
/* /* Fontawesome 4.7 */ 
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/*컨테이너*/
.container {
	width: 1000px;
	margin: 0 auto;
	font-family: 'Noto Sans KR', sans-serif;
}

/* 메인 */
main {
	position: relative;
}

main section {
    height: 500px;
}

main .mainTop {
    height: 662px;
    background: none;
}

main .mainTop .photo {
    float: left;
}

/*큰 사진*/

main .mainTop .photo .photoBig {
    margin: 30px 0 10px;
    width: 500px;
    height: 500px;
}

/*작은 사진*/

main .mainTop .smallPhoto {
    width: 500px;
    height: 92px;
/*     margin-left: 5px; */
}

main .mainTop .photo .smallPhoto img{
    width: 92px;
    height: 92px;
/*     margin-right: 10px; */
}

/*구매창*/

main .mainTop .buyBox {
    float: right;
    width: 470px;
}

main .mainTop .buyBox .code {
	color: #6e6e6e;
    padding: 90px 0 10px;
}

main .mainTop .buyBox .title {
	border-bottom: 1px black solid;
    padding-bottom: 20px;
    font-size: 32px;
}

main .mainTop .buyBox .price {
    color: #6e6e6e;
    padding: 20px 0;
    border-bottom: 1px #b1b1b1 solid;
}

main .mainTop .buyBox .price h4 {
	color: black;
	padding-top: 10px;
    font-size: 24px;
}

/*추가 옵션*/

main .mainTop .buyBox .add{
    padding: 20px 0 80px;
}

main .mainTop .buyBox .add .addBox option,
main .mainTop .buyBox .buy .button {
    cursor: pointer;
}

main .mainTop .buyBox .buy {
    border-top: #b1b1b1 1px solid;
}


main .mainTop .buyBox .buy div {
    margin-top: 20px;
}

main .mainTop .buyBox .buy div:nth-child(3){
    border-top: 1px black solid;
    padding-top: 20px; 
}

main .mainTop .buyBox .buy div:nth-child(3) .button{
    width: 150px;
    height: 50px;
	background: white;
	border: #b1b1b1 1px solid;
}

main .mainTop .buyBox #buyNow {
    background: #363636;
}

main .mainTop .buyBox input[type="submit" i]{
    color: white;
}

main .mainTop .buyBox .buy div:nth-child(3) button i{
    color: #d65a50;
}

/*상품 안내*/
main section h3 {
    border-bottom: 1px black solid;
    font-size: 20px;
    padding: 10px 0 15px;
    text-align: center;
}